<rating>

    <div>
        <h5>{ props.title }</h5>
        <stars rating={ props.rating }></stars>
        <p>{ props.description }</p>
    </div>

    <script>
        export default {

            onMounted() {

            }
        }
    </script>
</rating>