<experience>

    <h2>Experience</h2>

    <div each={ exp in state.data.experience } class="grid">
        <div class="col w-33">

            <h3>{ exp.company }</h3>
            <h5>{ exp.role }</h5>
            <p>{ exp.date }</p>
        </div>
        <div class="col w-67">
            <ul>
                <li each={ responsibilty in exp.responsibilities }>{ responsibilty }</li>
            </ul>
        </div>
    </div>
</experience>