<gists>

    <p each={ gist in state.gists }>{ gist.description }</p>

    <script>

        export default {
            onBeforeMount(props, state) {


            }
            onBeforeUpdate() {


            }
        }
    </script>
</gists>