<site-header>

    <div>
        <h1>Full Stack</h1>
        <h3>Web App Developer</h3>
        <a href="mailto:dalonso@miamidevshop.io" class='button'>Contact Me</a>
    </div>

    <img src="/public/img/karl-friedrich-schinkel-medieval-town.jpg" alt="Medieval Town by the Water">

</site-header>