
$red: #db5461ff;
$yellow: #ffc857ff;
$bluegreen: #59c9a5ff;
$purple: #8B7EB4;
$darkblue: #23395bff;

$primary: $red;
$secondary: $yellow;
$tertiary: $bluegreen;
$quaternary: #584c49ff;
$quinary: #222;

$font-size: 16px;

$sans-serif: 'Source Sans Pro', sans-serif;
$monospace: 'Ubuntu Mono', monospace;

$nav-height: 4rem;

$mobile: (max-width: 40.0rem)


$gradient: radial-gradient($red, $yellow)

