<gists>

    <li class='col work' each={ gist in state.gists }>
        <a href="{ gist.html_url }" target="_blank">{ gist.description }</a>
    </li>

    <script>

        export default {
            onBeforeMount(props, state) {


            }
            onBeforeUpdate() {


            }
        }
    </script>
</gists>